<launch>
    <param name="robot_description" command="$(find xacro)/xacro.py $(find anro2)/urdf/wiggly2.urdf" />

    <node name="rviz" pkg="rviz" type="rviz" args ="-d $(find anro2)/rviz/urdf.rviz" required="true"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

	<arg name="gui" default="true" />
	<node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
	<node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
</launch>

